[submodule "linear_algebra"]
	path = linear_algebra
	url = https://github.com/beeperking69/linear_algebra.git
[submodule "third_rail"]
	path = third_rail
	url =  https://github.com/beeperking69/third_rail.git
